.animals {
  position: absolute;
  z-index: 2;
  width: 50%;
  height: 50%;
  bottom: 0;
  --speed: 0.2;
  --wrap: 1980px;
  transform: translateX(
    mod(calc(var(--scroll-distance, 0) * var(--speed) * 1px), var(--wrap))
  );
}

.animals-silhouette {
  position: absolute;
  z-index: 2;
  width: 40%;
  height: 40%;
  bottom: 25%;
  left: 0;
  --speed: 0.08;
  --wrap: 1980px;
  transform: translateX(
    mod(calc(var(--scroll-distance, 0) * var(--speed) * 1px), var(--wrap))
  );
}

.animal:nth-child(2) {
  left: 5%;
  top: 0;
  z-index: 2;
}

.animal:nth-child(3) {
  left: 25%;
  top: 10%;
  z-index: 2;
}

.animal:nth-child(4) {
  left: 10%;
  top: 25%;
  z-index: 2;
}

.animal:nth-child(5) {
  left: 38%;
  top: 15%;
  z-index: 2;
}

.animal {
  position: absolute;
  z-index: 3;
  bottom: 60%;
  left: 15%;
}

.animal-big {
  width: calc(25%);
}

.animal-medium {
  width: calc(20%);
}

.animal-small {
  width: calc(15%);
}

.animal-x-small {
  width: calc(10%);
}
