/*===============
   GLOBAL
===============*/

.environment {
  position: relative;
  overflow-x: hidden;
}

.environment section {
  height: 100vh;

  @media (max-width: 768px) {
    height: 50vh;
  }
}

/*===============
   BIOME 1
===============*/

.biome1 {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.mountains {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*===============
   BIOME 2
===============*/

.biome2 {
  position: relative;
}

.mountains-reflected {
  position: absolute;
  top: 0;
  transform: scale(1, -1) translateY(30%);
  width: 100%;
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 0.1) 80%
  );
  -webkit-mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 0.1) 80%
  );
}

.waterReflection {
  position: absolute;
  opacity: 0.5;
  width: 65%;
  transform: translateY(-20%);
}

.marine-shadow {
  position: absolute;
  width: 100%;
}

.corals {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.island {
  position: absolute;
  right: 0;
  transform: translateY(18%);
  width: 80%;
  z-index: 6;
}

.palm-trees {
  position: absolute;
  z-index: 5;
  width: 40%;
  right: 0;
  transform: translateY(-70%);
}

/*===============
   BIOME 3
===============*/

.biome3 {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/*===============
   BIOME 4
===============*/

.biome4 {
  position: relative;
  width: 100%;
  overflow: hidden;
  border: 2px solid red;
}

/*===============
   BIOME 5
===============*/

.biome5 {
  position: relative;
  width: 100%;
  border: 2px solid red;
}

/*===============
   BIOME 6
===============*/

.biome6 {
  position: relative;
  width: 100%;
  border: 2px solid red;
}
