.home {
  position: relative;
  min-height: 100vh;
  background:
    linear-gradient(
      to bottom,
      #488484 0%,
      #0f7c7b 25%,
      #145b8d 50%,
      #0d4d87 75%,
      #163a6b 100%
    ),
    url("@/assets/texturaparadise.webp");

  background-blend-mode: multiply;
  background-size: auto;
  background-repeat: no-repeat, repeat;
}

.logo {
  margin: 1.5rem;
}

.products-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 10;
  overflow: hidden;
}

.products-overlay .product-card {
  pointer-events: auto;
}

.products-overlay .product-card:first-child {
  top:14%;
  left: 5%;

  @media (max-width: 500px) {
    top: 10%;
    left: 0;
  }
}

.products-overlay .product-card:nth-child(2) {
  top: 14%;
  right: 5%;
  left: auto;

  @media (max-width: 1440px) {
    top: 30%;
  }

  @media (max-width: 1024px) {
    top: 25%;
  }

  @media (max-width: 500px) {
    top: 20%;
    left: 25%;
  }
}

.products-overlay .product-card:nth-child(3) {
  top: 35%;
  left: 0;

  @media (max-width: 1440px) {
    top: 45%;
  }

  @media (max-width: 1024px) {
    top: 40%;
  }

  @media (max-width: 500px) {
    top: 35%;
  }

}

.products-overlay .product-card:nth-child(4) {
  top: 50%;
  right: 0;

  @media (max-width: 768px) {
    top: 60%;
    right: 10%;
  }

  @media (max-width: 500px) {
    top: 55%;
    left: 15%;
  }
}

.products-overlay .product-card:nth-child(5) {
  top: 60%;
  left: 25%;

  @media (max-width: 1024px) {
    left: 10%;
  }

  @media (max-width: 768px) {
    top: 75%;
  }

  @media (max-width: 500px) {
    top: 70%;
    left: 10%;
  }
}

.products-overlay .product-card {
  @media (max-width: 1024px) {
    width: 60%;
  }

  @media (max-width: 425px) {
    width: 80%;
}
}
