.home {
  min-height: 100vh;
  background:
    linear-gradient(
      to bottom,
      #488484 0%,
      #0f7c7b 25%,
      #145b8d 50%,
      #0d4d87 75%,
      #163a6b 100%
    ),
    url("./assets/texturaparadise.webp");

  background-blend-mode: multiply;
  background-size: auto;
  background-repeat: no-repeat, repeat;
}
