.nube {
  position: absolute;
  width: 50%;
}

.nube1 {
  left: 0;
  transform: translateY(10%);
}

.nube2 {
  left: 0;
  transform: translateY(200%);
}

.nube3 {
  right: 0;
  transform: translateY(10%);
}

.nube4 {
  right: 0;
  transform: translateY(100%);
}
