.group {
  width: 25%;
  --speed: 0.2;
  --wrap: 1980px;
  transform: translateX(
    mod(calc(var(--scroll-distance, 0) * var(--speed) * 1px), var(--wrap))
  );
}

.animal-big {
  width: calc(25%);
}

.animal-medium {
  width: calc(20%);
}

.animal-small {
  width: calc(15%);
}

.animal-x-small {
  width: calc(10%);
}
