.flamingos {
  position: absolute;
  z-index: 2;
  width: 50%;
  height: 50%;
  bottom: 0;
  --speed: 0.2;
}

.flamingos-silhouette {
  position: absolute;
  z-index: 2;
  width: 40%;
  height: 40%;
  bottom: 25%;
  left: 0;
  --speed: 0.08;
}

.flamingo:nth-child(2) {
  left: 5%;
  top: 0;
  z-index: 2;
}

.flamingo:nth-child(3) {
  left: 25%;
  top: 10%;
  z-index: 2;
}

.flamingo:nth-child(4) {
  left: 10%;
  top: 25%;
  z-index: 2;
}

.flamingo:nth-child(5) {
  left: 38%;
  top: 15%;
  z-index: 2;
}

.flamingo {
  position: absolute;
  z-index: 3;
  bottom: 60%;
  left: 15%;
}
