.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(247, 235, 198, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  overflow: hidden;
}

.loading-gif {
  width: clamp(375px, 75vw, 750px);
  height: auto;
  mix-blend-mode: multiply;
}
